@model WebApplication2.Models.Project

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3><strong>@Model.Code</strong> - Project Details</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>Code:</dt>
                                <dd>@Model.Code</dd>
                                <dt>Description:</dt>
                                <dd>@Model.Description</dd>
                                <dt>Start Date:</dt>
                                <dd>@Model.StartDate.ToShortDateString()</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <h4>Tasks</h4>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <!-- Add other task properties here -->
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var task in ViewBag.Tasks)
                                    {
                                        <tr>
                                            <td>@task.Description</td>
                                            <!-- Display other task properties here -->
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                        </div>
                        <div class="col-md-6 text-right">
                            @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>