@model IEnumerable<WebApplication2.Models.Project>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            @{var currentUserId = ViewBag.UserId;
            <td>@(item.Manager != null ? item.Manager.Name : "No Manager")</td> <!-- Display manager's name or indicate no manager -->
            if (item.Manager != null && item.Manager.UserID == currentUserId)
                {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
                else
                {
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
    
            }

                }
        </tr>
    }

</table>
