@model IEnumerable<WebApplication2.Models.Project>

@{
    ViewBag.Title = "Index";
    var currentUserName = User.Identity.Name;

}

<div class="container">
    <h2>Projects</h2>

    <div class="row">
        <div class="col-md-12">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
            </p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>

            @if (item.Manager != null && item.Manager.Name == currentUserName)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
            else
            {
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>

            }


        </tr>
    }

</table>
