@model IEnumerable<WebApplication2.Models.Member>

@{
    ViewBag.Title = "Index";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

        @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @if (User.Identity.Name!=item.Name)
                {

        <td>
            @Html.ActionLink("Add to project", "AddMember", new { id = item.UserID })

        </td>
                }
        else
                {
                <td style="font-weight: bold;color:green;">
                    You
                </td>
                }
    </tr>
}

</table>
